@media (max-width: 992px){
  .contact-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    background-color: #F9F8F7;

    .perso-contacts{
      // display: flex;

      .perso-contact{
        text-align: center;
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
      }
    }

    .red-title{
      color: #f60606;
      font-size: 3em;
    }

    table{
      td{
        padding: 4px;
        p{
          margin: 0 4px;
        }
        &.t-icon{
          text-align: center;
        }
      }
    }
  }

  .formular-and-map-container{

    display: flex;
    flex-direction: column;
    padding: 40px 10%;

    .formular-container{
      width: 100%;
      border-radius: 2px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      padding: 20px;
      border-radius: 10px;

      margin-bottom: 40px;

      #new_site_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-group{
          width: 100%;
        }

        .flex-container{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .form-group{
            width: 49%;
          }
        }

        .form-control{
          // border: none;
        }

        .btn{
          border-bottom: 1px solid red;
        }

      }
    }

    .map-container{
      width: 100%;


      #map{
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);

      }
    }
  }

}

@media (min-width: 992px){
  .contact-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    background-color: #F9F8F7;

    .perso-contacts{
      display: flex;

      .perso-contact{
        text-align: center;
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
      }
    }

    .red-title{
      color: #f60606;
      font-size: 3em;
    }

    table{
      td{
        padding: 4px;

        p{
          margin: 0 4px;
        }

        &.t-icon{
          text-align: center;
        }

      }
    }

  }


  .formular-and-map-container{

    display: flex;
    justify-content: space-between;
    padding: 40px 10%;

    .formular-container{
      width: 45%;
      border-radius: 2px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      padding: 20px;
      border-radius: 10px;

      #new_site_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-group{
          width: 100%;
        }

        .flex-container{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .form-group{
            width: 49%;
          }
        }

        .form-control{
          // border: none;
        }

        .btn{
          border-bottom: 1px solid red;
        }

      }
    }

    .map-container{
      width: 90%;


      #map{
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);

      }
    }
  }
}
