.timtools-container{
  padding: 40px 10%;



  .timtools-cards{
    margin-top: 40px;
    padding: 40px;
    width: 80%;
    border: 1px solid rgb(63,140,117);
    border-radius: 10px;


    .center-container{

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .btn{

        background-color: rgb(63,140,117);
        border-radius: 4px;
        color: white;
        padding: 10px;

      }

    }

  }


  a{
    text-decoration: none;
  }

  .timtools-card{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    p{
      margin: 10px;
    }

    &:hover{
      transform: scale(1.05);
      background-color: rgba(63,140,117,1);
      color: white;

    }
  }

}



