<div class="footer-container">
  <%= link_to 'https://www.facebook.com/BonneNouvelleFilms/' do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>

  <%= link_to 'https://www.instagram.com/bonnenouvellefilms/' do %>
    <i class="fab fa-instagram"></i>
  <% end %>

</div>
