<div class="footer-container">
  <%= link_to '#' do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>

  <%= link_to '#' do %>
    <i class="fab fa-twitter"></i>
  <% end %>

  <%= link_to '#' do %>
    <i class="fab fa-linkedin-in"></i>
  <% end %>

</div>
