<div class="timtools-container centered-vertically">
  <h1>TimTools</h1>

  <div class="timtools-cards">
    <%= link_to articles_path do %>
      <div class="timtools-card"><p>GÉRER LE CAROUSEL ET LES ARTICLES</p></div>
    <% end %>
    <%= link_to fictions_path do %>
      <div class="timtools-card"><p>GÉRER LES FICTIONS</p></div>
    <% end %>
    <%= link_to docus_path do %>
      <div class="timtools-card"><p>GÉRER LES DOCUS</p></div>
    <% end %>
    <%= link_to pubs_path do %>
      <div class="timtools-card"><p>GÉRER LES PUBS</p></div>
    <% end %>
  </div>


</div>

