<div class="container centered-vertically">
  <h1>Bienvenue dans les TimTools</h1>

  <p>Gérer les articles</p>
  <%= link_to "Gérer les fictions", fictions_path %>
  <p>Gérer les docus</p>
  <p>Gérer les pubs</p>

</div>
