@media (max-width: 992px){

  .carousel-wrapper{
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: black;
    width: 100vw;
  }

  #carousel-accueil{
    border: 3px solid black;
    width: 100vw;
    .carousel-controls:hover{
      cursor: pointer;
    }
  }

  .carousel-inner{
    .carousel-item{
      height: 30vh;
      background-color: black;

      .carousel-centered{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
      }

      img{
        height: 30vh;
      }
    }
  }
}

@media (min-width: 992px){

  .carousel-wrapper{

    #carousel-accueil{
      border: 3px solid black;

      .carousel-inner{

        .carousel-item{
          height: 50vh;
          background-color: black;

          .carousel-centered{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50vh;

            a{
              height: 50vh;
            }
          }

          img{
            height: 100%;
          }
        }
      }

      .carousel-controls:hover{
        cursor: pointer;
      }
    }

  }






}
