@media (max-width: 992px){

  .mobile-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    p{
      border-bottom: 1px solid red;
      padding: 1em;
    }
  }

}

@media (min-width: 992px){
  .mobile-title{
    display: none;
  }
}
