#logo-container{
  height: 20vh;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;


  #main-logo{
    height: 15vh;
  }
}

#links-container{
  height: 8vh;
  display: flex;
  justify-content: center;
  // align-items: center;

  a{
    color: black;
    font-size: 15px;
    margin: 15px;
    text-decoration: none;
    font-size: bold;
  }
}





// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

